html, body, .App {
  background-color: #0F75AF;
  height: 100%;
  width: 100%;
  font-family: 'Archivo', sans-serif;
  margin: 0;
}

h2 {
  font-size: 5vmin;
  color: #0F75AF;
}

h3 {
  color: #38A7E8;
  font-size: 3vmin;
  margin: 0;
}
